body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('https://png.pngtree.com/background/20230527/original/pngtree-full-restaurant-in-a-space-full-of-wooden-chairs-picture-image_2763162.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    max-width: 800px;
    margin: 2rem auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    padding: 10px;
    background-color: #130202;
    border: 1px solid #f7f1f1;
    border-radius: 5px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(12, 1, 1);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}




